body {
  font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

@media screen and (max-width: 768px) {
  #toggle-sidebar h2 {
    opacity: 1;
  }
}

#content {
  max-width: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#content .outline-1,
#content .outline-2,
#content .outline-3,
#content .outline-4,
#content .outline-5,
#content .outline-6 {
  text-align: justify;
}

#table-of-contents,
#content .outline-1,
#content .outline-2,
#content .outline-3,
#content .outline-4,
#content .outline-5,
#content .outline-6 {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  #table-of-contents,
  #content .outline-1,
  #content .outline-2,
  #content .outline-3,
  #content .outline-4,
  #content .outline-5,
  #content .outline-6 {
    max-width: 400px;
  }
}

@media screen and (max-width: 1500px) {
  #table-of-contents,
  #content .outline-1,
  #content .outline-2,
  #content .outline-3,
  #content .outline-4,
  #content .outline-5,
  #content .outline-6 {
    max-width: 600px;
  }
}

#content img {
  width: 100%;
  display: inline-block;
}

.w-1\/2 {
  margin: 0 auto;
  max-width: 50%;
}

.columns {
  display: flex;
  margin: 0 -1rem;
}

.columns .column {
  flex: 1 1 0%;
  padding: 0 1rem;
}

.notice {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.notice.notice-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.notice.notice-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


#content ul ol,
#content ol ul {
  margin-bottom: 0.75rem;
}

#content li {
  margin-bottom: 0.25rem;
}


.decisions p,
.decisions ul,
.decisions ol,
.notice p,
.notice ol,
.notice ul {
  margin: 0;
}

.decisions {
  position: relative;
  padding: .75rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  color: #383d41;
  background-color: #efefef;
  border-color: #e2e3e5;
}

.review {
  position: relative;
}

.review:after {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  bottom: 0;
  width: 60px;
  right: -76px;

  border-radius: 4px;
  border-left: 4px solid #a4eaff;
}

.review.review-left:after {
  left: -76px;
  width: 60px;
  border-left: none;
  border-right: 4px solid #a4eaff;
}

.review.review-warning:after {
  border-color: #ffa570;
}

.review.review-error:after {
  border-color: #ff838e;
}

.review .review-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -24px;
  transform: translateX(100%);
  max-width: 150px;
  text-align: left;

  color: #3dcae1;
}

.review.review-left .review-text {
  left: -24px;
  transform: translateX(-100%);
  text-align: right;
}

.review.review-warning .review-text {
  color: #ff8d4a;
}

.review.review-error .review-text {
  color: #ff384a;
}


@media screen and (max-width: 1280px) {
  .review .review-text {
    opacity: 0;
    transition: 100ms opacity;

    right: -16px;
    transform: none;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: content-box;
    text-align: center;
  }

  .review.review-left .review-text {
    left: -16px;
    transform: none;
    text-align: center;
  }

  .review:hover .review-text {
    opacity: 1;
    border-radius: 4px;

    background-color: #e7f9ff;
    border: 1px solid #a4eaff;
  }

  .review.review-warning:hover .review-text {
    background-color: #fff0e8;
    border-color: #ffa570;
  }

  .review.review-error:hover .review-text {
    background-color: #ffe5e7;
    border-color: #ff838e;
  }
}
